<!DOCTYPE html>
<html>
<head>
    <title>Woodlove</title>
    <%#= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "admin" %>
    <%#= csrf_meta_tags %>
    <link rel="stylesheet" href="/styles/admin.css?<%= frontend_version %>" />
</head>
<body>
    <div class="b-admin-layout">
        <div class="b-admin-layout-header">админочка</div>
        <div class="b-admin-layout-content">
            <% if @link_back %>
                <div class="b-admin-breadcrumbs-wrapper">
                    <%= link_to "Назад", @link_back, class: 'b-admin-link m-small' %>
                </div>
            <% end %>
            <% if @header %>
                <h1 class="b-admin-layout-content-header"><%= @header %></h1>
            <% end %>
            <%= yield %>
        </div>
    </div>
</body>
</html>
